.env
.node_modules
.preload.js
.webpack
.webpack-dev-server
.webpack-dev-server-client
.webpack-dev-server-client-overlay
.webpack-dev-server-client-overlay-overlay
.webpack-dev-server-client-overlay-overlay-overlay

# 排除所有 JSON 檔案，但保留特定的資料庫檔案
*.json
!package.json
!package-lock.json
!server/db/*.json
!server/config/*.json

node_modules
.prettierignore
.prettierrc
tep-custom-web
public/*
./public/*
public
.vscode
