<!doctype html>
<html lang="zh-TW">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>血條</title>
    </head>
    <body>
        <div class="container">
            <div class="health-bar-container">
                <div class="health-bar" id="healthBar"></div>
                <div class="health-bar" id="healthBarGd"></div>
            </div>
            <button type="button" onclick="reduceHealthBar()">Click Me</button>
        </div>
        <script type="module" src="../event.js"></script>
    </body>
</html>
