<!doctype html>
<html lang="zh-TW">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>血條</title>
    </head>
    <body>
        <div class="container">
            <div class="health-bar-container">
                <div class="health-title" id="healthTitle"></div>
                <div class="health-bar" id="healthBar"></div>
                <div class="health-bar" id="healthBarGd"></div>
                <div class="health-text" id="healthText"></div>
            </div>
        </div>
    </body>
</html>
